@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Unbounded', cursive;
}
:root {
    --boxshadow: hsl(240, 22%, 28%);
}
body{
    background: white;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    height: 600px;
    display: flex;
    box-shadow: 20px 20px 10px var(--boxshadow) ;
}

.wrapper .left {
    width: 35%;
    background: linear-gradient(to right, rgb(28, 84, 112), rgb(129, 190, 229));
    padding: 35px 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: antiquewhite;   
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 1000px;
}

.wrapper .left button {
    margin-bottom: 10px;
    background: linear-gradient(to left, rgb(28, 84, 112), rgb(129, 190, 229));
    border-radius: 50px;
    color: antiquewhite;
    padding: 10px;
}

.wrapper .left p {
    font-size: 12px;
}

.wrapper .right {
    width: 70%;
    background: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 15px;
    padding: 30px 35px
}

.wrapper .right .myprofile,
.wrapper .right .auther{
    margin-bottom: 15px;
}

.wrapper .right .myprofile h2,
.wrapper .right .auther h2{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid purple;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.wrapper .right .information, .wrapper .right .auther{
    display: flex;
    justify-content: space-between;
}

.wrapper .right .information .data h4,
.wrapper .right .auther .data h4{
    margin-bottom: 5px;
}

.wrapper .right .information .data p,
.wrapper .right .auther .data p{
    margin-bottom: 5px;
    color: darkgray;
}

.wrapper .right .information .data p{
    width: fit-content;
    background-color: gray;
    padding: 20px;
    font-size: x-small;
}

